.header {
    background-color: #ffdbc5;
    border-bottom: 3px solid #ff6f1f;
    height: 107px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    
    img {
        padding-left: 75px;
        vertical-align: middle;
        max-height: 61px;
    }
}