.btn {
    color: #fff;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-primary {
    background-color: #ff6f1f;
    padding-left: 51px;
    padding-right: 51px;
}

.btn-secondary {   
    background-color: #8d8d8d;
    padding-left: 20px;
    padding-right: 20px;
}
p {
    padding-top: 15px;
}

h1 {
    font-size: 34px;
    margin: 50px 0px 0px 0px;
}

