#wrapper {
  display: flex;
  flex-flow: column wrap;
  height: 75px;
  width: 200px;
  padding: 0px 25px;
  margin: 0 auto;
  justify-content: center;

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin-top: 14px;
  }
}

#x-1 {
  flex: 1 0 100%;
  padding-right: 15px;
}

#x-2 {
  font-weight: bold;
}

#x-3 {
  font-weight: lighter;
  font-size: 14px;
  ;
}

#x-4 {
  height: 100%;
  font-weight: lighter;
  margin-top: 20px;
}