table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

mat-icon {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.status {

  font-size: 15px;
  opacity: 0.5;
}