table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-icon {
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.status {
  font-size: 15px;
  opacity: 0.5;
}

input {
  padding: 0 !important;
  height: 0;
}

.row {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
}

.w-75{
  width: 100px !important;
}